*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  color: #48555B;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  /* 172.727% */
  letter-spacing: 0.2px;
  margin: 0 auto;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
  color: #FFF;
  cursor: pointer;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: #141024;
  height: 100vh;
  position: relative;
  color: #fff;
}

.header__bg img {
  object-fit: contain;
  width: 783px;
  height: 800px;
  position: absolute;
  bottom: 0;
  right: 213px;
  margin-top: 93px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
}

.logo_title {
  font-size: 30px;
  line-height: 48px;
  color: #fff;
  font-weight: 700;
  margin: 0;
}

.menu {
  display: flex;
  text-align: center;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.menu__list a {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}

.input__phone {
  font-size: 30px;
  line-height: 48px;
  font-weight: 600;
}

.header__bottom {
  margin-top: 274px;
  padding-left: 380px;
}

.title {
  font-size: 70px;
  font-weight: 600;
  line-height: 112px;
  margin-bottom: 20px;
}

.header__bottom-text {
  font-size: 20px;
  line-height: 32px;
  max-width: 478px;
  margin-bottom: 50px;
}

.header__bottom-btn {
  border-radius: 5px;
  background: #D52027;
  border: none;
  padding: 25px 54px;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  cursor: pointer;
}

.main {
  color: #141024;
}

.text__box {
  margin-bottom: 120px;
}

.text__box-txt {
  font-size: 30px;
  line-height: 48px;
  max-width: 890px;
  margin-top: 120px;
  margin-bottom: 60px;
}

.text__box-txt span {
  font-weight: 600;
}

.text__box-info {
  justify-content: space-between;
  display: flex;
}

.info-num {
  max-width: 260px;
}

.info-num__red {
  color: #D52027;
  font-size: 70px;
  font-weight: 600;
  line-height: 112px;
  margin: 0;
}

.info-num__black {
  color: rgba(20, 16, 36, 0.70);
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

.result {
  margin-bottom: 110px;
}

.result-course__title {
  font-size: 50px;
  font-weight: 600;
  line-height: 80px;
  margin: 0;
}

.result-course__card {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.course__card-box {
  max-width: 360px;
}

.course__card-title {
  font-size: 24px;
  line-height: 38px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 60px;
}

.course__card-text {
  color: rgba(20, 16, 36, 0.70);
  font-size: 18px;
  line-height: 29px;
}

.course__card-titleinfo {
  position: relative;
}

.course__card-titleinfo::after {
  content: "";
  position: absolute;
  background-image: url('../img/info.svg');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  left: 110px;
  cursor: pointer;
}

.course__card-titleinfo:hover::after {
  content: 'При наличии свободных мест';
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  display: inline-block;
  font-weight: 400;
  width: 275px;
}

.slider-box {
  border-radius: 20px;
}

.slider-box__img {
  margin-bottom: 20px;
}

.slider-box__title {
  font-size: 24px;
  line-height: 38px;
  font-weight: 600;
  margin-bottom: 10px;
}

.slider-box__text {
  color: rgba(20, 16, 36, 0.70);
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
}

.slider-box__more {
  display: block;
  color: #D52027;
  font-size: 18px;
  line-height: 29px;
  margin-bottom: 60px;
  cursor: pointer;
  position: relative;
}

.slider-box__btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.slider-box__btnnext {
  position: absolute;
  left: 540px;
  bottom: -60px;
}

.slider-box__btnprev {
  position: absolute;
  left: 480px;
  bottom: -60px;
}

.more__card {
  display: none;  
  margin-top: 100px;
  padding-top: 100px;
  width: 940px;
  background-color: #c3c3e0;
  transition: all .9s;
}

.exit {
  color: black;
  display: flex;
  justify-content: flex-end;
  color: rgba(20, 16, 36, 0.70);
  margin-right: 40px;
  font-size: 18px;
  line-height: 29px;
}

.more__card-header {
  display: flex;
  padding-left: 100px;
}

.card-header__img {
  width: 160px;
  height: 222px;
  margin-right: 40px;
}

.cardbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cardbox-title {
  font-size: 24px;
  line-height: 38px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #141024;
  margin: 0;
}

.cardbox-text {
  color: rgba(20, 16, 36, 0.70);
  font-size: 18px;
  line-height: 29px;
  padding-bottom: 10px;
  margin: 0;
}

.info-tab__item {
  color: #141024;
}
.info-tab__content{
  display: none;
}
.tabs-content--active{
  display: block;
  overflow: scroll;
  height: 160px;
}
.tabs{
  display: flex;
  justify-content: space-between;
  padding: 0 220px 40px 40px;
}
.tab--active{
  color: #D52027;
  font-size: 20px;
  line-height: 32px;
}
.tab{
  font-size: 20px;
  line-height: 32px;
}
.tabs-container{
  width: 860px;
  font-size: 20px;
  line-height: 32px;
  padding: 0 0 40px 40px;
}
.info-content__title{
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
}
.slick-section{
  margin-bottom: 100px;
}
.product-section{
  margin-bottom: 120px;
}
.product-section__title{
  font-weight: 600;
  font-size: 50px;
  line-height: 80px;
  margin-bottom: 60px;
}
.product-item{
  display: flex;
  justify-content: space-between;
  width: 1160px;
}
.product-item__card{
  gap: 40px;
  border-radius: 20px;
  border: 1px solid rgba(20, 16, 36, 0.20);
  text-align: center;
  width: 360px;
  height: 500px;
}
.item__card-title{
  padding-top: 40px;
  margin-bottom: 80px;
  font-size: 30px;
  line-height: 48px;
  font-weight: 600;
}
.item__card-price{
  font-weight: 600;
  font-size: 50px;
  line-height: 80px;
  margin-bottom: 20px;
}
.item__card-text{
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 29px;
}
.item__card-button{
  border-radius: 5px;
  background-color: #D52027;
  text-align: center;
  margin-bottom: 40px;
  padding: 25px 54px;
  font-size: 18px;
  line-height: 29px;
}
.product-item__card:hover{
  background: #141024;
  color: #fff;
  transition: all .6s;
}
.footer{
  background-color: #D52027;
  height: 460px;
  color: #fff;
}
.footer__wrapper{
  display: flex;
  padding-top: 80px;
  padding-left: 60px;
  margin: 0;
}
.footer-copyright{
  background-color: #141024;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 40px 100px 0;
}
.footer__wrapper-list{
  margin-right: 140px;
}
.footer__wrapper-input{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.copyright__text{
  color: rgba(255, 255, 255, 0.70);
  font-size: 16px;
  line-height: 26px; 
}
.wrapper-list__title{
  font-size: 36px;
  font-weight: 600;
  line-height: 47px;
  margin: 0 auto;
}
.wrapper-list__text{
  font-size: 20px;
  line-height: 26px;
}
.input-one{
  padding: 19px 181px 19px 20px;
  border-radius: 5px;
  background: #F6F6F6;
  border: none;
}
.input-1{
  margin-bottom: 10px;
}
.input-2{
  margin-bottom: 10px;
}
.input-3{
  margin-bottom: 10px;
}
.input-one::placeholder{
  color: rgba(40, 41, 68, 0.70);
  font-size: 18px;
}
.footer__wrapper-btn{
  padding: 19px 182px;
  background: #141024;
  border-radius: 5px;
}